{#
/**
 * @file
 * Theme override to display a two-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 * - first
 */
#}
{% if content %}
  <div{{ attributes }}>
         <div class="container mx-auto xl:grid lg:gap-x-6 md:max-w-3xl lg:max-w-screen-lg xl:max-w-screen-xl 2xl:max-w-screen-2xl lg:grid-cols-12">
      {% if content.first %}
        <div {{ region_attributes.first.addClass('layout__region', 'layout__region--first', 'xl:col-span-9', '2xl:col-span-8', 'xl:col-start-3 2xl:col-start-3') }}>
          {{ content.insert_before }}
          {{ content.controls }}
          {{ content.first }}
          {{ content.insert_after }}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}