
{#
For large 3-4 col featured card display
#}

{# odd #}
<article{{ attributes.addClass('h-full') }}>

        <a href="{{ url }}" class="hover:no-underline">
          <div
            class="flex flex-col h-full overflow-hidden transition-shadow bg-gray-800 border border-gray-300 lg:relative lg:flex-row group rounded-xl hover:shadow-lg hover:brightness-95"
          >
            <div class="border-b-4 lg:order-2 border-iiedgreen-500 lg:w-1/2">

              {% set image_uri = node.field_main_image|file_uri %}
              {% set image_alt = node.field_main_image.entity.field_media_image.alt %}
              {% if image_uri is not null %}
                <img class="object-cover w-full h-full" src="{{ image_uri|image_style('md_16x9') }}" alt="{{ image_alt }}" />
              {% endif %}

            </div>

            <div class="flex flex-col justify-between p-4 lg:w-1/2">

              <div>  
              <h4 class="mb-6 text-xl text-white lg:text-2xl lg:mt-8">
                {{ label }}
              </h4>
                {% block tagline %}
                <p class="text-gray-300">{{ node.field_tagline.0.value }}</p>
                {% endblock %}
              </div>

            <div
              class="-mr-4 border-b text-iiedgreen-500 border-iiedgreen-500"
            >
              <span>{{ node.type.entity.label() }}</span>&nbsp;
                {% block date %}
              <span class="text-gray-300">{{ node.field_read_length.value }}</span>
              {% endblock %}
            </div>




            </div>
          </div>
        </a>

</article>
