{#
For general solo card display
Minor mod of pub card md where sm: has been replaced with lg:
#}

<article{{ attributes.addClass('h-full') }}>

        <a href="{{ url }}" class="hover:no-underline">
          <div
            class="flex content-start h-full overflow-hidden transition-shadow bg-white border border-gray-300 lg:flex-col grow group rounded-xl hover:shadow-lg lg:flex-wrap"
          >
            <div class="w-3/12 p-2 lg:overflow-hidden lg:bg-gray-300 lg:w-full max-h-44 2xl:max-h-56">

      {# TODO fix card image displays #}
        {% if content.field_cover_image[0] %}
            {% set image_uri = node.field_cover_image|file_uri %}
            {% set image_alt = node.field_cover_image.alt %}
            {% if image_uri is not null %}
              <div class="m-auto transition duration-300 ease-out shadow-lg w-fit lg:w-fit lg:-rotate-3 group-hover:-rotate-2 group-hover:scale-110">
              <img src="{{ image_uri|image_style('card_cover') }}" alt="{{ image_alt }}" />
              </div>  
            {% endif %}
        {% else %}
          <div class="m-auto transition duration-300 ease-out shadow-lg w-fit lg:w-fit lg:-rotate-3 group-hover:-rotate-2 group-hover:scale-110">
          {{ node.field_media[0].entity|view('card_cover') }}
          </div>
        {% endif %}

            </div>

            <div
              class="flex flex-col justify-between w-9/12 p-4 lg:w-full grow lg:border-t-2 border-iiedgreen-500"
            >

              <h4 class="mb-4 text-xl leading-relaxed text-gray-900 lg:text-2xl">
                {% if node.field_short_title.value %}
                {{ node.field_short_title.value }}
                {% else %}
                {{ label }}
                {% endif %}
              </h4>
              <p class="text-gray-500">{{ node.field_date_published.value|date('d F Y') }}</p>
            </div>
          </div>
        </a>

</article>
