
{#
For external resource card display
#}

<article{{ attributes.addClass('h-full') }}>
        <a href="{{ content.field_link[0]['#url'] }}" target="_blank" class="hover:no-underline">
          <div
            class="flex flex-col h-full overflow-hidden transition-shadow bg-white border border-gray-300 rounded-xl hover:shadow-lg group"
          >
              <div
                class="flex justify-between px-4 pt-2 pb-5 text-gray-500"
              >
               {{ node.resource_type.0.value|lower|capitalize }}

                <div>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                  </svg>
                </div>
              </div>

            <div class="relative z-20 flex flex-col justify-between h-full p-4 -mt-3 bg-iiedbg-10 rounded-odd-even">

              <div>
                <h4 class="mb-4 text-xl leading-relaxed text-gray-900 lg:text-2xl">
                  {{ label }}
                </h4>
                <p class="text-gray-700">{{ node.field_tagline.0.value }}</p>
              </div>
              
              <p class="text-gray-500">{{ node.source.0.value }}</p>
             
            </div>

          </div>
        </a>
</article>