{#
Card for use in a slider only
#}

<div class="w-56 h-full overflow-hidden snap-center shrink-0">
  <article{{ attributes.addClass('h-full') }}>

    <a href="{{ url }}" class="hover:no-underline">
      <div class="flex flex-col content-start h-full overflow-hidden transition-shadow bg-white border border-gray-300 grow group rounded-xl">
      
        {# image #}
        <div class="w-full p-2 overflow-hidden bg-gray-300 max-h-44">
          {% if content.field_cover_image[0] %}
            {% set image_uri = node.field_cover_image|file_uri %}
            {% set image_alt = node.field_cover_image.alt %}
            {% if image_uri is not null %}
              <img class="object-cover w-3/12 h-auto" src="{{ image_uri|image_style('search_cover') }}" alt="{{ image_alt }}" />
            {% endif %}
          {% else %}
           <div class="m-auto transition duration-300 ease-out shadow-lg w-fit sm:w-fit sm:-rotate-2 group-hover:-rotate-1 group-hover:scale-105"
              />
             {{ node.field_media[0].entity|view('card_cover') }}
        </div>
          {% endif %}
        </div>
        
{# color-rotate classes to be added #}
          <div class="p-4 border-t-2 grow border-iiedorange-500 color-rotate">
            <h5 class="mb-4 text-xl leading-relaxed text-gray-900">
              {{ label }}
            </h5>
          </div>

      </div>
    </a>

  </article>
</div>
      
