

{% set form_type = content.form_type[0]['#markup'] %}


<div{{ attributes }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes.addClass('mb-6') }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}

      {# {% if form_type == 'mailchimp' %}
        {{ attach_library('iied_tw/mailchimp') }}
        <div class="signup {{ form_type }}">
          <div id="mc_embed_shell">
            {{ content.body }}
            <script type="text/javascript">
              (function ($) {
                window.fnames = new Array();
                window.ftypes = new Array();
                fnames[0] = "EMAIL";
                ftypes[0] = "email";
                fnames[1] = "FNAME";
                ftypes[1] = "text";
                fnames[2] = "LNAME";
                ftypes[2] = "text";
                fnames[4] = "ORG1";
                ftypes[4] = "text";
                fnames[5] = "JTITLE";
                ftypes[5] = "text";
                fnames[3] = "MMERGE3";
                ftypes[3] = "text";
              })(jQuery);
              var $mcj = jQuery.noConflict(true);
            </script>
          </div>
        </div> ...elseif #}
      {% if form_type == 'clickdimensions' %}
        {{ attach_library('iied_tw/clickdimensions') }}
        <div id="clickdimform" class="signup {{ form_type }}">
        <script type="text/javascript">var loc = "https://analytics-eu.clickdimensions.com/iiedorg-asnkj/pages/";</script>
          {{ content.body }}
        </div>
        {% else %}
        <div class="signup {{ form_type }}">
        {{ content.body }}
        </div>  
      {% endif %}
      
  {% endblock %}
</div>