{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    not node.isPublished() ? 'node--unpublished',
  ]
%}

<article{{ attributes.addClass(classes) }}>
   
  <div class="my-12">
 
    {#-- grid --#}
    <div
      class="container mx-auto lg:px-8 xl:grid xl:gap-6 md:max-w-3xl xl:max-w-screen-xl 2xl:max-w-screen-2xl xl:grid-cols-12 2xl:grid-cols-12"
    >
      <div
        class="xl:col-span-7 2xl:col-span-6 xl:col-start-4 2xl:col-start-4"
      >
        <nav aria-label="back to main page">
          <div class="mb-10">
            {% include '@iied_tw/partials/_hh_navigation.html.twig' %}
          </div>
        </nav>
        <h1 class="mb-6 text-4xl">{{ node.label }}</h1>

        {#-- body --#}
        <div class="mb-6">
          <div
            class="mb-12 prose prose-lg"
          >
          <div {{ content_attributes.addClass('node-content') }}> 
            {{ content.body }}
            {{ content.field_problems }}
            {{ content.field_examples }}
          </div>
          </div>

          {#-- image if ? --#}
          <figure class="mb-6 -mx-4 sm:mx-0">
            {{ content.field_main_image[0] }}
            <figcaption
              class="px-4 mt-1 text-base leading-tight text-gray-500 sm:p-0">
              {{ content.field_image_caption }}
            </figcaption>
          </figure>

          <div class="flex justify-between">
            <div>
              {#-- region --#}
              <div class="flex pb-2 ">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                </svg>

              {{ content.field_region_affected }}
              </div>

              {#-- impact --#}
              <div class="flex py-2 ">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.042 21.672L13.684 16.6m0 0l-2.51 2.225.569-9.47 5.227 7.917-3.286-.672zM12 2.25V4.5m5.834.166l-1.591 1.591M20.25 10.5H18M7.757 14.743l-1.59 1.59M6 10.5H3.75m4.007-4.243l-1.59-1.59" />
              </svg>
              {{ content.field_impact_area }}
              </div>

              {#-- attribution --#}
              <div class="flex py-2 ">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>
                <div class="flex">
                {{ content.field_submitted_by }}, {{ node.getCreatedTime|date('d F Y') }}
                </div>
              </div>
            </div>
            {# gauge #}
           
            {% if content.field_how_stuck_handbrake['#items'].value == 1 %}
              {% include '@iied_tw/partials/_stuck_gauge.html.twig' with {stuckness: 'slightly'} %}
            {% elseif content.field_how_stuck_handbrake['#items'].value == 2 %}
              {% include '@iied_tw/partials/_stuck_gauge.html.twig' with {stuckness: 'moderately'} %}
            {% elseif content.field_how_stuck_handbrake['#items'].value == 3 %}
              {% include '@iied_tw/partials/_stuck_gauge.html.twig' with {stuckness: 'very'} %}
            {% elseif content.field_how_stuck_handbrake['#items'].value == 4 %}
              {% include '@iied_tw/partials/_stuck_gauge.html.twig' with {stuckness: 'extremely'} %}
            {% elseif content.field_how_stuck_handbrake['#items'].value == 5 %}
              {% include '@iied_tw/partials/_stuck_gauge.html.twig' with {stuckness: 'jammed'} %}
            {% endif %}

          </div>

        </div>

       {# additional elements #}
      <div class="my-12">
      {{ content.field_additional_elements }}
      </div>

        {# comments #}
      <div class="px-4 py-2 -mx-4 bg-iiedblue-10 rounded-xl">  

          {{ content.comment }}
      
          {# Block login for non/authenticated users #}
          {% if logged_in %}
            {% if content.comment['#items'].comment_count < 1 %} 
              <p>Start the discussion!</p>
              {% endif %}
              {% else %}
                {% if content.comment['#items'].comment_count < 1 %} 
                  <div class="flex items-center not-prose">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#9CA3AF" class="w-4 h-4 mr-1">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 01-2.555-.337A5.972 5.972 0 015.41 20.97a5.969 5.969 0 01-.474-.065 4.48 4.48 0 00.978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25z"></path>
                    </svg>
                    <ul class="flex space-x-2 text-sm links"><li>{{ link('Log in', 'route:user.login') }} or  <a href="{{ path('multiple_registration.role_registration_page', {'rid': 'contributor'}, {'query': {'destination': path('<current>') }}) }}" class="use-ajax" data-dialog-type ="modal" data-dialog-options="{&quot;width&quot;:700,&quot;dialogClass&quot;:&quot;&quot;}">{{ 'register'|t }}</a> to start the discussion</li></ul>
                  </div>
                  {% else %}
                  <div class="flex items-center not-prose">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#9CA3AF" class="w-4 h-4 mr-1">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 01-2.555-.337A5.972 5.972 0 015.41 20.97a5.969 5.969 0 01-.474-.065 4.48 4.48 0 00.978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25z"></path>
                    </svg>
                    <ul class="flex space-x-2 text-sm links"><li>{{ link('Log in', 'route:user.login') }} or  <a href="{{ path('multiple_registration.role_registration_page', {'rid': 'contributor'}, {'query': {'destination': path('<current>') }}) }}" class="use-ajax" data-dialog-type ="modal" data-dialog-options="{&quot;width&quot;:700,&quot;dialogClass&quot;:&quot;&quot;}">{{ 'register'|t }}</a> to join the discussion</li></ul>
                  </div>
                {% endif %}
            {% endif %}

        </div>
        {# categories and share links #}
        <div class="flex items-center py-4">
          {% include '@iied_tw/partials/_share_links.html.twig' %}
          {% include '@iied_tw/partials/_copy_print_links.html.twig' %}
        </div>
          
      </div>
    </div>
        
  </div>
</article>

<section class="py-12 bg-iiedbg-10">
    <div class="container">
      <div class="flex flex-wrap justify-between">
       <h2 class="mb-6">Related hidden handbrakes</h2>
        <a href="/hidden-handbrakes" class="mt-2 mb-4">View all</a>
      </div>
        {{ drupal_view('hidden_handbrakes_display', 'block_2') }}
    </div>
</section>