
{#
Standard collection card
#}

<article{{ attributes.addClass('h-full', 'relative', 'z-0') }}>

        <a href="{{ url }}" class="hover:no-underline group">
          <div
            class="flex transition bg-white border border-gray-300 min-h-[12rem] h-full rounded-xl group-hover:shadow-lg"
          >
            <span
              class="absolute m-auto left-0 right-0 inset-0 w-[98%] -translate-y-1 bg-white ring-1 ring-gray-300 rounded-xl -z-10"
            ></span>
            <span
              class="absolute m-auto left-0 right-0 inset-0 w-[96%] -translate-y-2 bg-white ring-1 ring-gray-300 rounded-xl -z-20"
            ></span>
            <div class="flex flex-col items-start justify-between w-full h-full p-4">
              <div class="flex">

              {#image if available #}

              <div class="">
                  <h4 class="mb-4 text-xl text-gray-900 lg:text-2xl">{{ name }}</h4>
                  <p class="mb-4 prose text-gray-700">
                           {{ content.field_short_description.0  }}
                  </p>
                </div>
              </div>

              <div class="flex items-end justify-between w-full">
              {% if content.field_collection_type %}
                <span class="text-gray-500">{{ content.field_collection_type|render|striptags }}</span>
              {% endif %}  

                {% for key, item in term.field_badge %}
                  {% if key is not empty %}
                    <img class="ml-4" src="{{ item.entity.uri.value|image_style('scale_80') }}" alt="collection badge">
                  {% endif %}
                {% endfor %}
              </div>


            </div>
          </div>
        </a>

</article>