{#
/**
 * @file
 * Theme override to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: (optional) Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 */
#}
{%
  set classes = [
    'taxonomy-term',
    'vocabulary-' ~ term.bundle|clean_class,
  ]
%}

<div{{ attributes.setAttribute('id', 'taxonomy-term-' ~ term.id).addClass(classes) }}>
    <div class="container items-baseline p-4 mx-auto overflow-hidden lg:grid lg:gap-x-6 lg:grid-cols-12">
      <div class="lg:col-span-4">
      {# TODO: add links to themes, display thems and language switch in correct location #}
      <div class="mb-2">
        {% for key, item in term.field_theme %}
          {% if key is not empty %}
            {{ item.entity.label }}
            {{ not loop.last ? ' | ' }}
          {% endif %}
        {% endfor %}
      </div>
      <div class="mb-2">{{ drupal_block('language_block:language_interface', wrapper=false) }}</div>
   
        {{ title_prefix }}
        <h1 class="mb-6">{{ name }}</h1>
         {{ title_suffix }}
      </div>
      <div class="lg:col-span-8">
        <p class="prose prose-lg">
        {{ term.description.0.value|striptags }}
        </p>
      </div>
    </div>

{% if term.field_overview.value is not empty %}
  {{ attach_library('iied_tw/alpine') }}
  <div>
    <div class="tab-wrapper" 
      x-data="{ tab: window.location.hash ? window.location.hash.substring(1) : 'inthiscollection' }"
      x-init="$refs[tab].focus()"
      id="tab_wrapper"
      >
      <nav class="border-b border-gray-300">
        <div class="container flex flex-row">
          <a x-ref="inthiscollection" class="block px-6 py-2 text-lg font-semibold text-gray-700 focus:border-b-2 focus:border-iiedblue-500 hover:text-gray-900 focus:outline-none" :class="{ 'active': tab === 'inthiscollection' }" @click.prevent="tab = 'inthiscollection'; window.location.hash = 'inthiscollection'" href="#">In this collection</a>
          <a x-ref="overview" class="block px-6 py-2 text-lg font-semibold text-gray-700 focus:border-b-2 focus:border-iiedblue-500 hover:text-gray-900 focus:outline-none" :class="{ 'active': tab === 'overview' }" @click.prevent="tab = 'overview'; window.location.hash = 'overview'" href="#">Overview</a>
        </div>  
      </nav>
        <div class="pt-6 tab-panel" x-show="tab === 'inthiscollection'" x-transition:enter.duration.750ms>
          <div class="content">
            {{ content|without('field_overview', 'field_tags', 'field_theme') }}
          </div>
        </div>
        <div class="pt-6 tab-panel" x-show="tab === 'overview'" x-transition:enter.duration.750ms>
           <div class="container content lg:grid lg:gap-x-6 lg:grid-cols-12">
              <div class="mb-12 prose md:prose-lg lg:col-span-8 lg:col-start-5">
              {{ term.field_overview.value|raw }}
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
  <div class="content">
      {{ content }}
  </div>
  
{# needs adjusting to show tags #}
  {{ content.field_tags }} 
{% endif %}
